    @font-face {
        font-family: 'terminatorFont';
        src: url('../fonts/TERMINAT.TTF');
        font-style: normal;
        font-weight: 100;
    }
    
    body {
        margin: 0;
        background-color: #000;
    }
    
    #container-wrap {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        position: relative;
        width: 75%;
        background-color: #282828;
    }
    
    img {
        content: url('../images/t800.jpg');
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    
    .center {
        margin: auto;
        width: 70%;
    }
    
    footer {
        background-color: #282828;
        height: 50px;
        width: 75%;
        padding-top: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -1px;
    }
    
    h2 {
        color: #9b1c31;
        font-family: 'terminatorFont';
        font-size: calc(12px + .5vw);
        text-transform: uppercase;
        margin-left: 15px;
    }
    
    h3 {
        margin: 0;
    }
    
    h3 a {
        color: #ccc;
        text-decoration: underline;
    }
    
    .specs {
        font-family: 'terminatorFont';
        font-size: 1.5em;
        text-transform: uppercase;
    }
    
    .text-center {
        text-align: center;
    }
    
    #title {
        color: #9b1c31;
        font-family: 'terminatorFont';
        font-size: calc(18px + 1.5vw);
        text-align: center;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    
    .secondary-text {
        color: #ccc;
    }
    /* Hasta La Vista */
    
    a:hover {
        color: #9b1c31;
        position: relative;
    }
    
    a:hover:after {
        content: url(../images/t800baby.png);
        height: auto;
        width: auto;
        display: block;
        position: absolute;
        left: 150px;
        top: -437px;
    }
    
    @media (max-width: 1200px) {
        a:hover:after {
            display: none;
        }
    }